.product-grid{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   flex-wrap: wrap;
}
.product-card{
     border-right: 1px solid rgb(231, 231, 231);
     border-bottom: 1px solid rgb(231, 231, 231);
     display: flex;
     flex-direction: column;
}
.product-img{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.product-img img{
  padding: 10px;
  width: 90%;
}
.product-review{
  width: 100%;
  padding-top: 5px;
}
.product-rating-stars{
  display: flex;
  align-items: center;
  gap: 5px;
}
.product-rating-stars img {
    width: 50%;
}
.product-rating-count{
   font-size: larger;
   color:#437085;
}
.product-price{
  display: flex;
  align-items: center;
}
.product-price p{
  font-size: 1.6rem;
  font-weight: 500;
  padding:5px;
  padding-left: 0px;
}
.product-price select{
   font-size: 11px;
}
.added-to-cart img{
   width: 10%;
}
.added-to-cart{
   color: rgb(6, 125, 98);
   gap: 10px;
   display: flex;
   align-items: center;
   font-size: 15px; 
   opacity: 0;
}
.add-to-cart-button{
  width: 100%;
  cursor: pointer;
  background-color: rgb(255, 216, 20);
  border: 1px solid rgb(252, 210, 0);
  border: none;
  border-radius: 10px;
  padding: 5px;
}